<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<root>
		<level value="ALL" />
		<!-- Nebo jiná úroveň logování, např. "INFO", "WARN", "ERROR" nebo "FATAL" -->
		<appender-ref ref="RollingLogFileAppender" />
	</root>

	<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
		<!-- Upravená cesta a název logovacího souboru s aktuálním datem -->
		<file  value="C:/temp/" />
		<appendToFile value="true" />
		<rollingStyle value="Composite" />
		<datePattern value="yyyy-MM-dd.txt" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="false" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>
</log4net>