<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="https://localhost:44418" />
				<add name="Access-Control-Allow-Headers" value="Origin, Content-Type, x-requested-with, Accept" />
				<add name="Access-Control-Allow-Methods" value="GET, HEAD, POST, PUT, PATCH, DELETE, OPTIONS" />
				<add name="Access-Control-Allow-Credentials" value="true" />
			</customHeaders>
		</httpProtocol>
		<rewrite>
			<rules>
				<!-- Rule to handle preflight (OPTIONS) requests -->
				<rule name="HandlePreflight" stopProcessing="true">
					<match url=".*" />
					<conditions>
						<add input="{REQUEST_METHOD}" pattern="OPTIONS" />
					</conditions>
					<action type="CustomResponse" statusCode="200" statusReason="OK" statusDescription="OK" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
